<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
  <div class="row">
    <div class="pagetitle dashboard col-sm-8">
      <h1>{{ action.MenuTitle }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="admin/admin-dashboard">Home</a>
          </li>
          <li class="breadcrumb-item">{{ action.ParentMenuTitle }}</li>
          <li class="breadcrumb-item active">{{ action.MenuTitle }}</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-4">
      <button mat-raised-button class="float-right" color="primary" *ngIf="action.CanCreate" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop" (click)="resetForm()">
        Add New Party Payment
      </button>
    </div>
  </div>


  <section class="section dashboard">
    <div class="card">
      <div class="card-body">
        <div class="dataTable-top">
          <div class="dataTable-dropdown d-flex">
            <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
              <option *ngFor="let option of PageSize" [value]="option">
                {{ option }}
              </option>
            </select>
            <span class="ms-2">Entries per page</span>
          </div>
          <div class="dataTable-search">
            <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search" placeholder="Search..."
              type="text" />
          </div>
        </div>
        <div class="table-container overflow-auto">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>S.No</th>
                <th style="cursor: pointer" (click)="sort('CityName')">Payment Date</th>
                <th>Party Name</th>
                <th>Particular</th>
                <th>Amount</th>
                <th>Payment Mode</th>
                <th>Remarks</th>
                <th>Online</th>
                <th>Check No</th>
                <th>Cheque Date</th>
                <th>Bank Name</th>
                <th>Branch Name</th>
                <th>DD No</th>
                <th>Status</th>
                <!-- <th>CreditAmount</th> -->

                <!-- <th style="cursor:pointer;" (click)="sort('Status')">Status</th> -->
                <th *ngIf="action.CanEdit">Edit</th>
                <!-- <th *ngIf="action.CanDelete">Delete</th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of PartyPaymentList| filter : Search| orderBy : sortKey : reverse| paginate : { itemsPerPage: itemPerPage, currentPage: p };let i = index ">
                <td>{{itemPerPage * (p - 1) + i + 1 }}</td>
                <td>{{item.PaymentDate | date:"dd-MM-yy"}}</td>
                <td>{{item.PartyName}}</td>
                <td>{{item.Particular}}</td>
                <td>{{item.Amount}}</td>
                <td>{{AllPaymentModeList[item.PaymentMode]}}</td>
                <td>{{item.Remarks}}</td>
                <td>{{item.TransactionNo}}</td>
                <td>{{item.ChequeNo}}</td>
                <td>{{item.ChequeDate}}</td>
                <td>{{item.BankName}}</td>
                <td>{{item.BranchName}}</td>
                <td>{{item.DDNo}}</td>
                <!-- // <td>{{item.CreditAmount}}</td> -->

                <td>
                  <span class="p-1" [ngClass]="
                      item.Status == 1
                        ? 'badge text-bg-success'
                        : 'badge text-bg-danger'
                    ">
                    {{ AllStatusList[item.Status] }}
                  </span>
                </td>

                <td *ngIf="action.CanEdit">
                  <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="editPartyPayment(item)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </td>
                <!-- <td *ngIf="action.CanDelete">
                  <button class="btn btn-sm btn-danger" (click)="deletePartyPayment(item)">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </td> -->
              </tr>

            </tbody>
          </table>
        </div>
        <div class="dataTable-bottom">
          <pagination-controls (pageChange)="onTableDataChange($event)" style="float: right"
            class="my-pagination"></pagination-controls>
        </div>
      </div>
    </div>
  </section>

  <div *ngIf="action.CanEdit || action.CanCreate" class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            {{ PartyPayment.PartyPaymentId > 0 ? "Update" : "New" }}
            Party Payment
          </h1>
          <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="resetForm()"></button>
        </div>
        <div class="modal-body">
          <form #formPartyPayment="ngForm">
            <div class="container">
              <div class="row">






                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Party Name</mat-label>
                  <input matInput name="PartyName" [(ngModel)]="PartyPayment.PartyName"
                    (ngModelChange)="filterPartyPaymentList($event)" [matAutocomplete]="autoTransportPartyName"
                    placeholder="Search By Party Name" required />
                  <mat-autocomplete #autoTransportPartyName="matAutocomplete"
                    (optionSelected)="afterPartyPaymentSelected($event)">
                    <mat-option *ngFor="let option of filterPartyName" [id]="option.PartyId" [value]="option.PartyName">
                      {{ option.PartyName }}
                    </mat-option>
                  </mat-autocomplete>
                  <button mat-icon-button matSuffix *ngIf="PartyPayment.PartyName" color="primary"
                    (click)="clearTransportSupplier()">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="!PartyPayment.PartyName">Required field !!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-12">
                  <mat-label>Particular</mat-label>
                  <input matInput #Particular="ngModel" rows="5" name="Particular" [(ngModel)]="PartyPayment.Particular"
                    autofocus />
                </mat-form-field>



                <mat-form-field appearance="outline" class="col-sm-6">
                  <mat-label>Amount</mat-label>
                  <input type="number" matInput #Amount="ngModel" name="Amount" [(ngModel)]="PartyPayment.Amount" required
                    autofocus />
                  <mat-error>
                    Amount is <strong>required.</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-6">
                  <mat-label>Payment Date</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="PartyPayment.PaymentDate" name="PaymentDate"
                    required />
                  <mat-datepicker-toggle matSuffix [for]="picker" class="small-datepicker-icon"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>



                <mat-form-field appearance="outline" class="col-md-6 custom-mat-form-field">
                  <mat-label>Payment Mode</mat-label>
                  <mat-select name="PaymentMode" [(ngModel)]="PartyPayment.PaymentMode" required>
                    <mat-option [value]="PaymentMode.Key"
                      *ngFor="let PaymentMode of PaymentModeList">{{PaymentMode.Value}}</mat-option>
                  </mat-select>
                  <mat-error>Required Field !!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-6" *ngIf="PartyPayment.PaymentMode == 2">
                  <mat-label>Transaction No.</mat-label>
                  <input matInput #TransactionNo="ngModel" name="TransactionNo"
                    [(ngModel)]="PartyPayment.TransactionNo" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-6" *ngIf="PartyPayment.PaymentMode == 3">
                  <mat-label>Cheque No.</mat-label>
                  <input matInput #ChequeNo="ngModel" name="ChequeNo" [(ngModel)]="PartyPayment.ChequeNo" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-lg-6" *ngIf="PartyPayment.PaymentMode ==3">
                  <mat-label>Cheque Date</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="PartyPayment.ChequeDate" name="ChequeDate"
                    required />
                  <mat-datepicker-toggle matSuffix [for]="picker" class="small-datepicker-icon"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="col-sm-6" *ngIf="PartyPayment.PaymentMode == 3">
                  <mat-label>Cheque Date</mat-label>
                  <input matInput #ChequeDate="ngModel" name="ChequeDate" [(ngModel)]="PartyPayment.ChequeDate"/>
                </mat-form-field> -->

                <mat-form-field appearance="outline" class="col-sm-6" *ngIf="PartyPayment.PaymentMode == 3">
                  <mat-label>Bank Name</mat-label>
                  <input matInput #BankName="ngModel" name="BankName" [(ngModel)]="PartyPayment.BankName" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-6" *ngIf="PartyPayment.PaymentMode == 3">
                  <mat-label>Branch Name</mat-label>
                  <input matInput #BranchName="ngModel" name="BranchName" [(ngModel)]="PartyPayment.BranchName" />
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-sm-6" *ngIf="PartyPayment.PaymentMode == 5">
                  <mat-label>DD No.</mat-label>
                  <input matInput #DDNo="ngModel" name="DDNo" [(ngModel)]="PartyPayment.DDNo" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-12">
                  <mat-label>Remarks</mat-label>
                  <textarea matInput #Remarks="ngModel" name="Remarks" [(ngModel)]="PartyPayment.Remarks"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-6 custom-mat-form-field">
                  <mat-label>Status</mat-label>
                  <mat-select name="Status" [(ngModel)]="PartyPayment.Status" required>
                    <mat-option [value]="status.Key" *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                  </mat-select>
                  <mat-error>Required Field !!</mat-error>
                </mat-form-field>

              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" mat-raised-button color="warn" class="me-2" data-bs-dismiss="modal"
            (click)="resetForm()">
            Cancel
          </button>
          <button mat-raised-button color="primary" (click)="savePartyPayment()">
            {{ PartyPayment.PartyPaymentId > 0 ? "Update" : "Submit" }}
          </button>
        </div>
      </div>
    </div>
  </div>

</main>