<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
     <div class="row">
          <div class="pagetitle dashboard col-sm-8">
               <h1>{{action.MenuTitle}}</h1>
               <nav>
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                         <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                         <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                    </ol>
               </nav>
          </div>
     </div>

     <section class="section dashboard">
          <div class="card">
               <div class="card-body ">
                    <div class="row">
                         <mat-form-field appearance="outline" class="col-sm-3">
                              <mat-label>Location</mat-label>
                              <input matInput placeholder="Search By Party Location"
                                   [matAutocomplete]="autoTransportPackageCollection" [(ngModel)]="selectedLocationName"
                                   (ngModelChange)="onLocationChange($event)">


                              <mat-autocomplete #autoTransportPackageCollection="matAutocomplete">
                                   <mat-option *ngFor="let option of LocationList" [value]="option.LocationName">
                                        {{ option.LocationName }}
                                   </mat-option>

                              </mat-autocomplete>

                              <button mat-icon-button matSuffix (click)="clearParty()">
                                   <mat-icon>close</mat-icon>
                              </button>


                              <mat-error>Required field !!</mat-error>
                         </mat-form-field>

                         <div class="col-sm-2">
                              <button (click)="GetParyDueHistorylist(selectedLocationId)" d-button mat-raised-button
                                   class="float-left" color="primary">
                                   Search</button>
                         </div>

                    </div>
                    <div class="dataTable-top">
                         <div class="dataTable-dropdown d-flex ">
                              <select class="dataTable-selector form-select form-select-sm float-left" [(ngModel)]="itemPerPage">
                                   <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                              </select>
                              <span class="ms-2">Entries per page</span>
                         </div>
                         <div class="dataTable-search">
                              <!-- <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                   placeholder="Search..." type="text"> -->
                         </div>
                    </div>

                    <div class="table-container ">


                         <table class="table table-bordered table-hover">
                              <thead>
                                   <tr>
                                        <th style="text-align: center;">S.No</th>
                                        <th style="text-align: left;">Party Name</th>
                                        <th style="text-align: Center;">Location</th>
                                        <th style="text-align: right; color: red;"> Total Debit Amount</th>
                                        <th style="text-align: right; color: darkgreen;">Total Credit Amount</th>
                                        <th style="text-align: right; color: red;"> Total Balacne Due</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <tr *ngFor="let item of PartyDueHistoryList ;  let i = index">
                                        <td style="text-align: center;">{{ i + 1 }}</td>
                                        <td style="text-align: left;">{{ item.PartyName }}</td>
                                        <td style="text-align: center;">{{ item.LocationName }}</td>
                                        <td style="text-align: right; color: red;">{{ item.TotalDebitAmount |
                                             number:'1.0-0' }}</td>
                                        <td style="text-align: right; color: darkgreen;">{{ item.TotalCreditAmount |
                                             number:'1.0-0'
                                             }}</td>
                                        <td style="text-align: right; color: red; font-weight: 600;">{{ item.TotalDebitAmount -
                                             item.TotalCreditAmount | number:'1.0-0'}}</td>
                                   </tr>
                              </tbody>
                             <tfoot>
  <tr>
    <th></th>
    <th></th>
    <th style="text-align: center;">Total</th>
    <th style="text-align: right; color: red;">{{ AllDebitAmount | number:'1.0-0' }}</th>
    <th style="text-align: right; color: darkgreen;">{{ AllCreditAmount | number:'1.0-0' }}</th>
    <th style="text-align: right; color: red; font-weight: 600;">{{ AllBalanceDue | number:'1.0-0' }}</th>
  </tr>
</tfoot>

                         </table>
                    </div>
                    <div class="dataTable-bottom">
                         <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                              class="my-pagination"></pagination-controls>
                    </div>

               </div>
          </div>

     </section>
</main>