<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- Today Supply -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">


              <div class="card-body">
                <h5 class="card-title">Today Supply</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{dashboardSummary.TodaySupply| number:'1.0-0'}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Today Collection -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card revenue-card">


              <div class="card-body">
                <h5 class="card-title">Today Collection</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-rupee"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{dashboardSummary.TodayPayment| number:'1.0-0'}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Weekly Supply -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">


              <div class="card-body">
                <h5 class="card-title">Weekly Supply</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{dashboardSummary.WeeklySupply| number:'1.0-0'}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Weekly Collection -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card revenue-card">


              <div class="card-body">
                <h5 class="card-title">Weekly Collection</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-rupee"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{dashboardSummary.WeeklyPayment| number:'1.0-0'}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Monthly Supply -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card"> 


              <div class="card-body">
                <h5 class="card-title">Monthly Supply</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{dashboardSummary.MonthlySupply| number:'1.0-0'}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Monthly Collection -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card revenue-card">


              <div class="card-body">
                <h5 class="card-title">Monthly Collection</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-rupee"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{dashboardSummary.MonthlyPayment  | number:'1.0-0'}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

</main>