<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
     <div class="row">
          <div class="pagetitle dashboard col-sm-8">
               <h1>{{action.MenuTitle}}</h1>
               <nav>
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                         <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                         <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                    </ol>
               </nav>
          </div>
          <div class="col-sm-4">
               <button mat-raised-button class="float-right" color="primary" *ngIf="action.CanCreate"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="resetForm()">New
                    Location</button>
          </div>
     </div>
     <section class="section dashboard">
          <div class="card">
               <div class="card-body ">
                    <div class="dataTable-top">
                         <div class="dataTable-dropdown d-flex">
                              <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                                   <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                              </select>
                              <span class="ms-2">Entries per page</span>
                         </div>
                         <div class="dataTable-search">
                              <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                   placeholder="Search..." type="text">
                         </div>
                    </div>
                    <div class="table-container ">
                         <mat-form-field appearance="outline" class="col-lg-6">
                              <mat-label>Patient Name / Mobile / UHID</mat-label>
                              <input matInput name="PartyName" [(ngModel)]="PartyDetalis.PartyName"
                                   (ngModelChange)="filterpatientList($event)"
                                   [matAutocomplete]="autoTransportPackageCollection" placeholder="Search By PartyName "
                                   required />

                              <mat-autocomplete #autoTransportPackageCollection="matAutocomplete"
                                   (optionSelected)="afterPartySelected($event)">
                                   <mat-option *ngFor="let option of ListParty" [value]="option.PartyName">
                                        {{ option.PartyName }} / {{ option.PartyCode }} /
                                        {{ option.MobileNo }}
                                   </mat-option>
                              </mat-autocomplete>

                              <button mat-icon-button matSuffix *ngIf="PartyDetalis.PartyName" color="primary"
                                   (click)="clearParty()">
                                   <mat-icon>close</mat-icon>
                              </button>

                              <mat-error *ngIf="!PartyDetalis.PartyName">Required field !!</mat-error>
                         </mat-form-field>

                         <mat-form-field appearance="outline" class="col-lg-3">
                              <mat-label>Party Code</mat-label>
                              <input matInput type="text" name="PartyCode" [(ngModel)]="PartyDetalis.PartyCode" required
                                   readonly="true" />
                         </mat-form-field>

                        

                         <mat-form-field appearance="outline" class="col-lg-3">
                              <mat-label>Mobile No.</mat-label>
                              <input matInput type="text" name="MobileNo" [(ngModel)]="PartyDetalis.MobileNo" required
                                   readonly="true" />
                         </mat-form-field>

                         <mat-form-field appearance="outline" class="col-lg-3">
                              <mat-label>Address</mat-label>
                              <input matInput type="text" name="MobileNo" [(ngModel)]="PartyDetalis.Address" required
                                   readonly="true" />
                         </mat-form-field>

                         <mat-form-field appearance="outline" class="col-lg-3">
                              <mat-label>Location</mat-label>
                              <input matInput type="text" name="LocationName" [(ngModel)]="PartyDetalis.LocationName"
                                   required readonly="true" />
                         </mat-form-field>

                         <div class="col-sm-4">
               <button
                 
                mat-raised-button class="float-right" color="primary"  >
                    Search</button>
                    <!-- add click fundtion to filter Paymentlist -->
          </div>

                         <table class="table table-bordered table-hover">
                              <thead>
                                   <tr>
                                        <th>S.No</th>
                                        <th>Payment date</th>
                                        <th>Payment Mode</th>
                                        <th>Particular</th>
                                        <th>Debits Amount</th>
                                        <th>Credits Amount</th>
                                        <!-- <th>Party Name</th> -->

                                   </tr>
                              </thead>
                              <tbody>
                                   <tr
                                        *ngFor="let item of PartyPaymentDetailList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                        <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                        <td>{{item.PaymentDate|date:'dd-MM-YYYY'}}</td>
                                        <td>{{AllPaymentModeList[item.PaymentMode]}}</td>
                                        <td>{{item.Particular}}</td>
                                        <td>{{item.DebitAmount}}</td>
                                        <td>{{item.CreditAmount}}</td>
                                        <!-- <td>{{item.PartyName}}</td> -->
                                   </tr>
                              </tbody>
                              <tfoot>
                                   <th></th>
                                   <th></th>
                                   <th></th>
                                   <th>Balance Due</th>
                                   <th>Calculate karna Parega</th>
                                   <th></th>


                              </tfoot>
                              <tfoot>
                                   <th></th>
                                   <th></th>
                                   <th></th>
                                   <th class="content-left">Total =</th>
                                   <th>abhi nhi pata</th>
                                   <th>abhi nhi pata</th>

                              </tfoot>
                              <br>
                         </table>
                    </div>
                    <div class="dataTable-bottom">
                         <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                              class="my-pagination"></pagination-controls>
                    </div>

               </div>
          </div>

     </section>

</main>