<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
     <div class="row">
          <div class="pagetitle dashboard col-sm-8">
               <h1>{{action.MenuTitle}}</h1>
               <nav>
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                         <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                         <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                    </ol>
               </nav>
          </div>
          <!-- <div class="col-sm-4">
               <button mat-raised-button class="float-right" color="primary" *ngIf="action.CanCreate"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="resetForm()">New
                    Location</button>
          </div> -->
     </div>
     <section class="section dashboard">
          <div class="card">
               <div class="card-body ">
                    <div class="row">
                         <mat-form-field appearance="outline" class="col-sm-3">
                              <mat-label>Party Code / Name / Mobile No.</mat-label>
                              <input matInput name="PartyName" [(ngModel)]="PartyDetalis.PartyName"
                                   (ngModelChange)="filterpatientList($event)"
                                   [matAutocomplete]="autoTransportPackageCollection"
                                   placeholder="Search By Party Name " required />

                              <mat-autocomplete #autoTransportPackageCollection="matAutocomplete"
                                   (optionSelected)="afterPartySelected($event)">
                                   <mat-option *ngFor="let option of ListParty" [value]="option.PartyName">
                                        {{ option.PartyCode }} / {{ option.PartyName }} /
                                        {{ option.MobileNo }}
                                   </mat-option>
                              </mat-autocomplete>

                              <button mat-icon-button matSuffix *ngIf="PartyDetalis.PartyName" color="primary"
                                   (click)="clearParty()">
                                   <mat-icon>close</mat-icon>
                              </button>

                              <mat-error *ngIf="!PartyDetalis.PartyName">Required field !!</mat-error>
                         </mat-form-field>

                         <mat-form-field appearance="outline" class="col-sm-2">
                              <mat-label>Party Code</mat-label>
                              <input matInput type="text" name="PartyCode" [(ngModel)]="PartyDetalis.PartyCode" required
                                   readonly="true" />
                         </mat-form-field>

                         <mat-form-field appearance="outline" class="col-sm-2">
                              <mat-label>Mobile No.</mat-label>
                              <input matInput type="text" name="MobileNo" [(ngModel)]="PartyDetalis.MobileNo" required
                                   readonly="true" />
                         </mat-form-field>

                         <!-- <mat-form-field appearance="outline" class="col-sm-2">
                              <mat-label>Address</mat-label>
                              <input matInput type="text" name="MobileNo" [(ngModel)]="PartyDetalis.Address" required
                                   readonly="true" />
                         </mat-form-field> -->

                         <mat-form-field appearance="outline" class="col-sm-2">
                              <mat-label>Location</mat-label>
                              <input matInput type="text" name="LocationName" [(ngModel)]="PartyDetalis.LocationName"
                                   required readonly="true" />
                         </mat-form-field>

                         <div class="col-sm-2">
                              <button (click)="GetPartyPaymentDetailList(PartyDetalis.PartyId)" mat-raised-button
                                   class="float-left" color="primary">
                                   Search</button>
                         </div>
                    </div>
                    <div class="dataTable-top">
                         <div class="dataTable-dropdown d-flex">
                              <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                                   <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                              </select>
                              <span class="ms-2">Entries per page</span>
                         </div>
                         <div class="dataTable-search">
                              <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                   placeholder="Search..." type="text">
                         </div>
                    </div>

                    <div class="table-container ">


                         <table class="table table-bordered table-hover">
                              <thead>
                                   <tr>
                                        <th style="text-align: center;">S.No</th>
                                        <th style="text-align: center;">Payment Date</th>
                                        <th style="text-align: left;">Particular's</th>
                                        <th style="text-align: center;">Payment Mode</th>
                                        <th style="text-align: right;color: red; font-size: 18px; font-weight: 600;">
                                             Debit Amount</th>
                                        <th
                                             style="text-align: right;color: darkgreen; font-size: 18px; font-weight: 600;">
                                             Credit Amount</th>
                                        <!-- <th>Party Name</th> -->

                                   </tr>
                              </thead>
                              <tbody>
                                   <tr
                                        *ngFor="let item of PartyPaymentDetailList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                        <td style="text-align: center;">{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                        <td style="text-align: center;">{{item.PaymentDate|date:'dd-MM-YYYY'}}</td>
                                        <td style="text-align: left;">{{item.Particular}}-{{item.InvoiceNo}}</td>
                                        <td style="text-align: center;">{{AllPaymentModeList[item.PaymentMode]}}</td>
                                        <td style="text-align: right;color: red; font-size: 18px; font-weight: 600;">
                                             {{item.DebitAmount}}</td>
                                        <td
                                             style="text-align: right;color: darkgreen; font-size: 18px; font-weight: 600;">
                                             {{item.CreditAmount}}</td>
                                        <!-- <td>{{item.PartyName}}</td> -->
                                   </tr>
                              </tbody>
                              <tfoot>


                                   <!-- Totals Row -->
                                   <tr>
                                        <td colspan="4" class="text-end fw-bold"><span
                                                  style="font-size: 18px; font-weight: 600;">Total</span></td>
                                        <td style="text-align: right;"><span
                                                  style="text-align: right; font-size: 18px; font-weight: 600;">{{
                                                  CreditDebitAmt.Debit }}</span></td>
                                        <td style="text-align: right;"> <span
                                                  style="text-align: right; font-size: 18px; font-weight: 600;">{{
                                                  CreditDebitAmt.Credit }}</span> </td>
                                   </tr>
                                   <tr>
                                        <td colspan="4" class="text-end fw-bold"><span
                                                  style="font-size: 18px; font-weight: 600;">Balance Due</span></td>
                                        <td style="text-align: right;"><span
                                                  style="font-size: 18px;color: red; font-weight: 600;">{{
                                                  CreditDebitAmt.Due }}</span></td>
                                        <td style="text-align: right;">
                                        
                                             <button (click)="PartyLadgerHistory(PartyDetalis)" style="font-size: large; display: flex; justify-content: center; align-items: center; border-radius:30px;width: 100% ; height: 100%;">Print</button>
                                        </td>

                                   </tr>
                              </tfoot>

                         </table>
                    </div>
                    <div class="dataTable-bottom">
                         <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                              class="my-pagination"></pagination-controls>
                    </div>

               </div>
          </div>

     </section>

</main>